<style>
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&family=Flamenco:wght@300&family=Fredericka+the+Great&family=Kranky&family=Lora:ital@0;1&family=Major+Mono+Display&family=Monoton&family=Rye&family=Sacramento&family=Yatra+One&family=Yuji+Boku&family=Zen+Tokyo+Zoo&display=swap');
</style>

body {
display: grid;
grid-template-columns: 50vw;
grid-template-rows: 60px 100vh 25vh 50vh 100vh 50vh 100vh 60px;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 {grid-area: 2 / 1 / 3 / 2; margin: 40px 20px 40px 20px;}
.div2 { grid-area: 1 / 1 / 2 / 2; margin: 20px 2px 20px 2px;}
.div3 {grid-area: 3 / 1 / 4 / 2; margin: 20px 20px 20px 20px;}
.div4 { grid-area: 4 / 1 / 5 / 2; margin: 180px 20px 40px 20px;}
.div5 { grid-area: 5 / 1 / 6 / 2; margin: 20px 50px 20px 50px;}
.div6 { grid-area: 6 / 1 / 7 / 2; margin: 20px 20px 20px 20px;}
.div7 { grid-area: 7 / 1 / 8 / 2; margin: 20px 20px 20px 20px;}
.div8 { grid-area: 8 / 1 / 9 / 2; margin: 20px 20px 20px 20px;}

*{
  padding: 0;
}

#storeName {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#shopTitle {
  font-family: 'Elsie Swash Caps', cursive;
  font-size: 70px;
}

#shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  background: rgb(181,44,42);
  background: linear-gradient(180deg, rgba(181,44,42,1) 0%, rgba(212,96,46,1) 35%, rgba(193,121,182,1) 100%);
}

.shopItem {
  justify-content: center;
  text-align: center;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  background-color: #B1B1B1;
  border-radius: 15px;
  color: #353A70;
  font-family: 'Flamenco', cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemDescription {
  font-size: 3vh;
}

nav {
  font-family: 'Flamenco', cursive;
  font-size: 50px;
  justify-content: space-between;
  text-align: center;
}

.navBar {
  text-decoration: none;
  color: #8B4E6F;
  padding: 0px 10px 0px 10px;
}

.navBar:hover {
  text-decoration: underline;
  color: #B52C2A;
}

.navBar:after {
  color: #8B4E6F;
}

.sectionTitle {
  font-family: 'Yatra One', cursive;
  font-size: 4vw;
  text-align: center;
}

.whoName {
  font-family: 'Sacramento', cursive;
  font-size: 4vw;
  color: #8B4E6F;
}

.profile{
  align-items: center;
  justify-content: center;
  text-align: center;
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;
  text-align: center;*/
}

.centerIt img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.longText {
  font-family: 'Flamenco', cursive;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2vw;
}

.blogTitle {
  font-family: 'Flamenco', cursive;
  font-weight: bold;
  font-size: 3vw;
  text-decoration: underline;
}

.blogText {
  font-family: 'Flamenco', cursive;
  font-size: 1.5vw;
}

.shopItem img {
  width: auto;
  height: 150px;
  border-radius: 15px;
}

.div1 img {
  max-height: 100vh;
  max-width: 75vw;
}

.div4 img {
  width: auto;
  height: 38vh;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#quotesAndReviews {
  display: block;
  text-align: center;
  margin: 30px;
}

#reviewText {
  font-family: 'Elsie Swash Caps', arial;
  font-size: 2vw;
  color: #96B9CB;
}

#reviewName {
  font-family: 'Sacramento', cursive;
  font-size: 2vw;
  color: #96B9CB;
}

.div6 {
    background-image: url("/Users/gennaumenhofer/Desktop/Coding_Practice/Simply_Complex/pictures/llamarama.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.div7 {
  background-color: #8B4E6F;
  overflow: auto;
  display: block;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
}

#llamarama {
  width: 100vw;
  height: auto;
}

#socialMediaLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;
  margin: 50px;
}

input {
  width: 50vw;
  margin: 5px auto 5px auto;
  padding: 12px 12px;
  box-sizing: border-box;
  text-align: center;
}

footer {
  text-align: center;
  font-family: 'Flamenco', cursive;
  font-size: 1vw;
  margin: 1vh;
}
