<style>
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&family=Flamenco:wght@300&family=Fredericka+the+Great&family=Kranky&family=Lora:ital@0;1&family=Major+Mono+Display&family=Monoton&family=Rye&family=Sacramento&family=Yatra+One&family=Yuji+Boku&family=Zen+Tokyo+Zoo&display=swap');
</style>

body {
display: grid;
grid-template-columns: 50vw;
grid-template-rows: 30px 100vh repeat(2, 50vh) 100vh 50vh 100vh 30px;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 1 / 2 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 6 / 1 / 7 / 2; }
.div7 { grid-area: 7 / 1 / 8 / 2; }
.div8 { grid-area: 8 / 1 / 9 / 2; }

*{
  margin: 0;
  padding: 0;
}

#shopTitle {
  font-family: 'Elsie Swash Caps', cursive;
}

.navBar {
  font-family: 'Flamenco', cursive;
  text-decoration: none;
}

.navBar a:hover {
  text-decoration: none;
  font-weight: bold;
}

.sectionTitle {
  font-family: 'Yatra One', cursive;
}

.whoName {
  font-family: 'Sacramento', cursive;
}

.longText {
  font-family: 'Flamenco', cursive;
}

.blogTitle {
  font-family: 'Flamenco', cursive;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}
